/* .gallery-main img {
  width: 100%;
  border-radius: 12px;
}

.thumbnails {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  overflow-x: auto;
}

.thumbnails img {
  width: 90px;
  height: 70px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.2s;
}

.thumbnails img:hover {
  opacity: 1;
} */













/* .carousel {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
}

.carousel-image {
  width: 100%;
  border-radius: 12px;
  transition: opacity 0.5s ease-in-out;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50%;
  transition: background 0.3s;
}

.arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.left {
  left: 10px;
}

.right {
  right: 10px;
} */














.carousel {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
}

.carousel-image {
  width: 100%;
  border-radius: 12px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}
/* Flechas */
.arrow {
  position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 1.5rem;
    /* padding: 4px 15px; */
    cursor: pointer;
    border-radius: 50%;
    transition: background 0.3s;
    width: 40px;
    height: 44px;
}

.arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}

/* Miniaturas */
.thumbnails {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
  gap: 10px;
}

.thumbnail {
  width: 80px;
  height: 60px;
  object-fit: cover;
  cursor: pointer;
  opacity: 0.6;
  border-radius: 6px;
  transition: 0.3s;
  border: 2px solid transparent;
}

.thumbnail:hover {
  opacity: 1;
}

.thumbnail.active {
  opacity: 1;
  border: 2px solid #0d35bb; /* rojo estilo Yamaha */
}