@tailwind base;
@tailwind components;
@tailwind utilities;

.yamaha-logo {
  width: 143px !important;
  height: 150px !important;
  object-fit: contain !important;
}


@keyframes pulseSlow {
  0% { transform: scale(1); }
  50% { transform: scale(1.15); }
  100% { transform: scale(1); }
}

.animate-pulse-slow {
  animation: pulseSlow 2.5s ease-in-out infinite;
}